* {
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');

body {
  background-color: rgba(16, 15, 15, 0.748);
}

#outer {
  background-image: url(bg.jpg);
  background-size: cover;
  width: 365px;
}

.img {
position: relative;
top: 30px;
}

#menu a {
    text-decoration: none;
    color: White;
    padding: 5px;
    background-color: rgba(35, 45, 47, 0.598);
    margin-left: 5px;
    font-size: 13px;
    font-weight: 700;
}

#sm {
  font-weight: 900;
  color: gainsboro;
}

#bsc {
  font-weight: 600;
  color: rgb(192, 190, 177);
  font-size: 13px;
}
#ctg {
  font-weight: 400;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

#menu {
    background-color: rgba(108, 103, 103, 0.6);
    height:25px;
    padding: 5px;
    width:365px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    background-color: rgba(44, 50, 52, 0.2);
   width: 365px;
   height: 400px;
   padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

#head {
    margin-top: 45px;
    text-align: center;
    color: white;
    width: 365px;
    padding: 5px;
    background-color: rgba(44, 50, 52, 0.2);
}

#first {
position: absolute;
z-index: 1;
height:300px;
width: 300px;
background-color: rgba (148, 148, 148, 0.4);
backdrop-filter: blur(5px);
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
box-sizing: border-box;
}


.img img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.second {
position: absolute;
z-index: 2;
height:300px;
width: 300px;
background-color: rgba (148, 148, 148, 0.25);
backdrop-filter: blur(5px);
box-shadow: 0 0 5px white;
}
.second img {
height:300px;
width: 300px;
}

.button {
    cursor: pointer;
    position: relative;
    text-align: center;
    top: 10px;
    padding: 15px;
    color: white;
    background-color: rgb(106, 97, 106);
    font-size: 15px;
    font-weight: 900;
    border-radius: 20px;
    width: 265px; 
}



.second:hover  {
    transition: all;
    transition-duration: 3s;
    transform: rotate(360deg);
    z-index: 0;
}


.button:hover  {
  background: white;
  color: grey;

} 

#b1 {
  color: rgba(252, 240, 240, 0.982);
 position: relative;
 text-align: center;
 top: 76px;
}

#map {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    width: 365px;
    background-color: rgba(16, 15, 15, 0.748)


    }

    #map h5 {
        font-family: 'Dancing Script', cursive;
        width: 365px;
        color: white;
        font-family: 'Dhurjati', sans-serif;
        font-size: 20px;

    }

    nav {
        position: fixed;
        top: 5px;
        z-index: 100;
    }
    
   footer {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;  
     background-color: rgba(50, 68, 69, 0.759);
     width: 365px;
     padding: 5px;
   }
   
   #namaj {
     margin-top: 100px;
     margin-bottom: 20px;
   }
   
   #bq {
     font-size: 15px;
     margin-bottom: 15px;
     font-weight: 900;
     color: wheat;
   }
#hashr {
  width: 365px;
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:5px;
  background:rgba(16, 15, 15, 0.748);
  color:black;
align-content: center;
}
